version: '3'
services:
  tilemill:
     container_name: tilemill
     ports:
      - 20008:20008
      - 20009:20009
     build: 
       context: Tilemill/.
     volumes:
       - ./Tilemill/MapBox-Projects:/root/Documents/MapBox  
  postgres:
     container_name: postgis
     build: 
       context: Postgres/.
     environment:
       POSTGRES_PASSWORD: "postgres"
       POSTGRES_USER: "postgres"
     volumes:
       - /var/lib/postgresql/data
       - C:/inspireadressen:/opt/inspireadressen  
     ports:
      - 5432:5432
